'body':
  'alt-p': 'fuzzy-finder:toggle-file-finder'
  'alt-shift-p': 'command-palette:toggle'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-a': 'editor:move-to-beginning-of-line'
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-shift-a': 'core:select-all'


'.platform-win32, .platform-linux':
  'ctrl-i': 'find-and-replace:show'
